@import url('https://fonts.googleapis.com/css?family=Montserrat|Mr+De+Haviland&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

/* HEADER  */
.nav {
  display: inline;
}
/* HOME */
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.side {
  flex-direction: column;
}

.main {
  border: 2px dashed black;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

/* LOGIN  */
.login form {
  padding-top: 2rem;
}
.login label {
  margin-right: .6rem;
}
.login input {
  display: inline;
}
