* {
  padding: 0;
  margin: 0;
}

/* HEADER  */
.nav {
  display: inline;
}
/* HOME */
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.side {
  flex-direction: column;
}

.main {
  border: 2px dashed black;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

/* LOGIN  */
.login {
  
}
