@import url('https://fonts.googleapis.com/css?family=Montserrat|Miss+Fajardose|Mr+De+Haviland&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

/* HEADER  */

.header .brand {
  font-family: 'Miss Fajardose', cursive;
  font-size: 5rem;
  display: inline-block;
  margin-top: -1rem;
  transform: rotate(-5deg);
}
.header h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.logoutBtn {
  position: absolute;
  top: 1px;
  right: 1px;
}



/* HOME */
.home {
  border: 1px solid green;
  padding: 0;
   box-sizing: content-box;
}
.main {
  padding: 1rem;
   box-sizing: content-box;
}

/* .btns {
width: 100%;
display: flex;
 flex-flow: column wrap;
flex-wrap: wrap;
} */

.btns button {
  height: 3rem;
  width: 50%;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-weight: 900;
}
.btns .random {
  float: left;
}
/* LOGIN  */
 .login form {
  padding-top: 2rem;
}
.login button {
  margin-top: 1rem;
}



/* MEDIA QUERIES =============== */
@media only screen and (max-width: 600px) {
  .btns button {
    width: 100%;
  }
}
